*::before,
*::after,
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.tibet{
  height: 100vh;
  width: 90%;
  margin: auto;
  padding: 10px;
}
.navuy{
  color: #c2c2c2;
  font-family: 'Ubuntu', sans-serif;
}
.first_page{
  height: 300px;
  width: 350px;
  margin-left: 53px;
  margin-top: 60px;
}
.borderTopHome{
  position: absolute;
  top: 30%;
  right: 10%;
  height: 300px;
  width: 350px;
  border-style:solid;
  border-width:10px;
  border-image: linear-gradient(45deg, #C426EB, #3200EB) 1;
  z-index: -1;
}
.text p{
  margin-left: 30px;
}
.text h1{
  font-size: 55px;
  margin-left: 30px;
  background-color: #6F37D4;
  background-image: linear-gradient(45deg, #C426EB, #3200EB);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight: 800;
}
.text button{
  height: 50px;
  width: 50%;
  color: #fff;
  background-color: #6F37D4;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  transition: .5s;
  margin-left: 30px;
}
.text button:hover{
  color: #6F37D4;
  background-color: #fff;
  border: 1px solid #6F37D4;
}
.text{
  font-size: 14px;
  font-weight: 400;
  color: #a8a8a8;
  letter-spacing: .25mm;
    line-height: 2 ;
  width: auto;
  height: auto;
  padding-top: 10%;
}
#cards{
  background-color: #6F37D4;
  height: 100vh;
}
.nothingToggle{
  background-color: linear-gradient(45deg, #C426EB, #3200EB);
}
.switch {
  position: absolute;
  display: inline-block;
  width: 64px;
  height: 34px;
  top: 10px;
  right: 20px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6F37D4;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
